.section.contact-me {
  max-height: 100vh;
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.075);
}

.section.contact-me .backsplash {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100vh;
}

.section.contact-me .body {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 140px);
}

.section.contact-me .title {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 70px 0 0 70px;
  flex-shrink: 0;
}

.section.contact-me .title .header {
  font-family: 'Metropolis Regular';
  font-size: 37px;
  color: #505050;
}

.section.contact-me .underscore {
  border-top: 4px solid #e54e40;
  margin-top: 40px;
  max-width: 100px;
  min-width: 100px;
}